<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!--    <bean id="MovieA" class="com.stackroute.Movie" name="MovieB" autowire="constructor">-->

    <!--    </bean>-->



    <!--    <bean id = "actor" class = "com.stackroute.Actor" autowire="constructor">-->
    <!--        <property name="name" value="Chris Hemsworth"/>-->
    <!--        <property name="age" value="50"/>-->
    <!--        <property name="gender" value="Male"/>-->
    <!--    </bean>-->

    <bean id="actor1" class="com.stackroute.Actor">
        <constructor-arg index="0" value="Thor"> </constructor-arg>
        <constructor-arg index="1" value="male"> </constructor-arg>
        <constructor-arg index="2" value="20"></constructor-arg>

    </bean>

    <bean id="actor" class="com.stackroute.Actor">
        <constructor-arg index="0" value="Iron Man"> </constructor-arg>
        <constructor-arg index="1" value="male"> </constructor-arg>
        <constructor-arg index="2" value="23"></constructor-arg>

    </bean>




    <bean id="movie2" autowire="byName" class="com.stackroute.Movie" >
        <property name="actor" ref="actor" />

    </bean>
    <bean id="movie3" autowire="byName" class="com.stackroute.Movie" >
        <property name="actor" ref="actor1" />

    </bean>

    <bean id="beanlifecycledemo" class="com.stackroute.BeanLifecycleDemoBean">
        <property name="message" value="you're in BeanLifeCycleDemo property message" />
    </bean>

    <bean id="demoBean" class="com.stackroute.BeanLifecycleDemoBean"
          init-method="customInit"
          destroy-method="customDestroy"></bean>

</beans>

